/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea

# homestead
/.vagrant
phpunit.xml
/after.sh
/aliases
/mysqldump.sql.gz
/mysql_backup
/postgres_backup
/user-customizations.sh
wsl-init.log
.backup/*

# vscode
/.vscode
workspace.code-workspace

# formatter
.php-cs-fixer.cache
